
*{
    margin: 10px 10px 10px 10px;
    
}
/* header section style */

header .nav-sec{
    width: 1180px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   

}
.all-btn{
    cursor: pointer;
}
.nav-sec h2{
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
}
header .primary-btn{
    color: rgb(0, 106, 80);
    
    width: 100px;
    height: 35px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 4px;
    
}
/* main section style */

    
main .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1180px;
    height: 550px;
    
}
main .banner-content{
    padding: 40px;
}
main > .banner > .banner-content > .subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
main .title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 45px;
font-weight: 600;
line-height: 47px;
letter-spacing: 0%;
text-align: left;
}
main .phot{
    margin-right: 50px;
}
main .banner-content .btn-explore{
    border: none;
    border-radius: 6px;
    background: rgb(0, 106, 80);;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
padding: 7px;
width: 190px;
height: 32px;
}
 /* section2 styles */
 .vision{
    margin-top: 40px;
    width: 1180px;
    height: 550px;

 }
 .vision .tite{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 30px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
 }
 .vision .description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 300;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
 }
.vision .boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}
.vision .box1{
    box-sizing: border-box;
border-radius: 12px;
padding-left: 20px;
width: 510px;
background: rgba(84, 144, 245, 0.2);

}
.vision .box1-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.vision .box1-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.vision .box1-btn{
    background-color: rgba(84, 144, 245);
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 15px;
height: 35px;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
padding: 5px;
border: none;
border-radius: 4px;
}
.vision .box2{
    box-sizing: border-box;
border-radius: 12px;
padding-left: 20px;
background: rgb(198, 228, 214);
width: 510px;
}
.vision .box2-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.vision .box2-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.vision .box2-btn{
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 15px;
height: 35px;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
padding: 5px;
border: none;
border-radius: 4px;
}
.vision .box3{
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 20px;
    background: rgb(247, 235, 207);
    width: 510px;
}


.vision .box3-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.vision .box3-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.vision .box3-btn{
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 15px;
height: 35px;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
padding: 5px;
border: none;
border-radius: 4px;
}

.quote{
    background-image: url('../assets/quote-bg.png');
    background-color: rgb(254, 254, 253);
    background-position: top left;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
}
.quote .title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.quote .subtitle{
   
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 15px;
font-weight: 450;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}
.quote .description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 17px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
}
.news{
    margin-top: 30px;
    width: 1180px;
    
}
.news .box{
    display: flex;
    border-radius: 15px;

}
.news .article{
    justify-content: left;
}
.news .article .title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 30px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.news .article p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.news .newsbtn{
    border-radius: 5px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 15px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
padding: 5px;
border: none;
border-radius: 4px;
width: 100px;
height: 40px;
}
.news .box .photo img{
    border-radius: 16px;
}
